/* font-family: 'Foldit', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Public Sans', sans-serif; */
:root {
  --hedding-font: "Playfair Display", serif;
  --secundary-font: "Poppins", sans-serif;
  --button-color: #6c63ff;
}

h1 {
  font-family: var(--hedding-font);
}
h1.name-title {
  font-size: 6em;
}
h2 {
  font-family: var(--secundary-font);
  color: #272142;
  font-size: 2vw;
}
h3 {
  font-family: var(--secundary-font);
}
a {
  font-family: var(--secundary-font);
}
nav li.active a {
  color: #6c63ff;
}

li a:hover {
  color: #6c63ff;
}
nav {
  margin: 1vw;
  display: flex;
  justify-content: space-between;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  font-family: var(--hedding-font);
}
nav a {
  padding-right: 15px;
  text-decoration: none;
  color: #272142;
  font-size: 1.5em;
}
.title-job {
  font-size: 1.35em;
}
.navbar-container {
  margin-right: 2vw;
}
.logo-name {
  /* font-family: var(--hedding-font); */
  font-size: 1.5em;
  padding-left: 3vw;
}
.about-h2 {
  margin-bottom: 1vw;
  font-family: var(--hedding-font);
  color: #272142;
  font-size: 3vw;
}
.about-body {
  margin: 1.5rem 5vw;
}

.work-body {
  margin: 1.5rem 0rem;
}

.work-title-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 6rem 0 7rem;
}

.work-title {
  font-family: var(--hedding-font);
  color: #272142;
  font-size: 3vw;
  text-align: center;
}

.about-secondary-h2 {
  margin-bottom: 1.5vw;
  font-size: 1vw;
  font-family: var(--secundary-font);
  font-weight: bold;
  color: #272142;
  line-height: 30px;
  opacity: 100%;
}
p {
  font-family: var(--secundary-font);
  color: #272142;
  line-height: 30px;
  opacity: 70%;
}
.hero-container {
  background-color: #f9f7fe;
  text-align: center;
  padding: 8rem 22rem;
}
.hero-button {
  background-color: var(--button-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.3em;
  padding: 12px 2em;
}
.project-name {
  font-family: var(--hedding-font);
  line-height: 85.31px;
  font-weight: 700;
  font-size: 2em;
  padding-top: 3vw;
}
.projects-index-presentation {
  text-align: center;
  margin-top: 6vw;
  margin-bottom: 0vw;
  opacity: 100%;
  font-size: 1.3em;
}
.view-project-button {
  color: rgba(136, 93, 241, 1);
  border-color: rgba(136, 93, 241, 1);
  padding: 10px;
  border-radius: 0;
}
.view-project-button:hover {
  background-color: rgba(136, 93, 241, 1);
  color: #ffffff;
}
.flamenco-image {
  max-width: 63%;
  margin: 2vw 9vw;
  border-radius: 4px;
}
.trekking-image {
  max-width: 96%;
  min-height: 363px;
  margin: 3vw 1vw;
  padding: 1px;
  background: #e8dede;
  border-radius: 4px;
}
.work-img-container {
  max-width: 100%;
  margin-bottom: 7rem;
}
.work-flamenco-image {
  margin-right: 3vw;
  width: 23%;
  margin-left: 15vw;
}

.work-trekking-image {
  margin-right: 10vw;
  max-width: 44%;
  margin-bottom: 1rem;
  margin-left: 5vw;
}
.work-weather-image {
  width: 45%;
  margin-left: 15vw;
  margin-top: 4rem;
}
.work-world-clock-image {
  width: 29%;
  margin-top: 4rem;
  margin-right: 11vw;
}
.work-project-description-flamenco {
  text-align: center;
}
.work-project-description-trekking {
  padding-left: 12vw;
}
.work-project-description-weather {
  margin-left: 19vw;
  margin-right: -21vw;
}
.work-project-description-world-clock {
  padding-left: 16vw;
}

.work-description-h2 {
  font-family: var(--hedding-font);
  line-height: 23.31px;
  font-weight: 700;
  font-size: 2em;
  padding-top: 1vw;
}
.work-description-p {
  font-family: var(--secundary-font);
}
.contact-details {
  margin-left: 16vw;
}
.project-name-trekking {
  line-height: 85.31px;
  font-weight: 700;
  font-size: 2em;
  padding-top: 3vw;
  font-family: var(--hedding-font);
}
.weather-image {
  max-width: 95%;
  min-height: 342px;
  height: 17vw;
  margin: 4vw -1vw;
  border-radius: 2px;
}
.world-clock-image {
  max-width: 82%;
  margin: 3vw 2vw;
  border-radius: 2px;
}
.esperanza-picture {
  max-width: 30%;
  border-radius: 10%;
  margin: 1vw 2vw;
}
.about-hero {
  margin-top: 4vw;
  padding: 2vw;
  line-height: 3.5;
}
.about-presentation {
  margin: 5% 20%;
}
.work-inquire-content {
  display: flex;
  justify-content: space-around;
  background-color: #f9f7fe;
  border-radius: 4px;
}
.container-work-inquire {
  max-width: 80vw;
  margin: 0 auto;
}
.work-inquire-title {
  font-family: var(--hedding-font);
  font-size: 2em;
  line-height: 1.5;
}
.work-inquire-message {
  font-family: var(--secundary-font);
  font-size: 0.5em;
}
footer {
  margin-top: 6rem;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links {
  background-color: #f9f7fe;
  padding: 16px 19px;
  border-radius: 50%;
  margin-right: 1em;
  transition: all 100ms ease-in-out;
}
.footer-links:hover {
  background-color: var(--button-color);
  color: #f9f7fe;
}
.footer-email {
  text-decoration: none;
  color: #272142;
  margin-bottom: 2rem;
  font-size: 1.5em;
}

@media (max-width: 992px) {
  .logo-name {
    display: none;
  }
  nav {
    justify-content: center;
  }
  nav a {
    padding-right: 6vw;
  }
  .navbar-container {
    margin-right: 0;
  }
  body {
    text-align: center;
  }
  h2 {
    font-size: 1.5em;
    margin-left: -7vw;
  }
  .hero-container {
    padding: 7rem 3rem;
  }
  .project-name {
    padding-top: 0vw;
  }
  .projects-index-presentation {
    display: none;
  }
}

.my-row {
  justify-content: center;
  display: flex;
}
.my-row.text-row {
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.my-row .centered {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.work-content-narrow {
  width: 30%;
  text-align: center;
}

.work-content-wide {
  width: 60%;
  text-align: center;
}

.my-row img {
  width: 100%;
}

.content-block {
  padding-bottom: 3rem;
}

@media (max-width: 992px) {
  h1.name-title {
    font-size: 2.5em;
  }
  .my-row .centered {
    flex-direction: column;
    align-items: center;
  }
  .work-content-narrow {
    width: 100%;
  }
  .work-content-wide {
    width: 100%;
  }

  .about-presentation {
    margin: 0 auto;
    padding: 13%;
  }
  .esperanza-picture {
    margin: 0 auto;
    max-width: 88%;
  }
  .about-h2 {
    font-size: 8vw;
    padding-bottom: 0.8em;
  }
  .about-secondary-h2 {
    font-size: 4vw;
    margin-bottom: 5.5vw;
    margin-top: 4vw;
    line-height: 4vw;
  }
  .work-title-container {
    padding: 3rem 0;
    font-size: 1.3em;
  }
  .work-description-h2 {
    font-size: 1.5rem;
  }
  .contact-details {
    margin: 0 auto;
  }
  .work-title {
    font-size: 1.5em;
  }
}
